
.ml_panel{
  display: inline-block;
  min-width: fit-content;
  max-width: 250px;
  padding: 10px;
  margin: 20px;
}

.btn {
    border: 0 none;
    font-weight: 700;
    padding: 3px 6px;
}

.btn:focus, .btn:active:focus, .btn.active:focus {
    outline: 0 none;
}

.btn-primary {
    background: #0099cc;
    color: #ffffff;
}


.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.open > .dropdown-toggle.btn-primary {
    background: #33a6cc;
}

.btn-primary:active, .btn-primary.active {
    background: #007299;
    box-shadow: None;
}

.modal-sm {
  display: None;
}

.modal-dialog {
  display: inline-block;
  text-align: left;
  left: 30%;
  transform: translateX(-50%);
  vertical-align: middle;
}

.panel-primary > .panel-heading-error {
    background-color: #E04647;
    border-color:#E04647;
}

.panel-primary > .panel-heading-warning {
    background-color: #FFA236;
    border-color:#FFA236;
}

.panel-primary > .panel-heading-success {
    background-color: #2BB673;
    border-color:#2BB673;
}

.fa-status {
    margin-top:4px;
    float:right;
    display:none;
}

.panel-heading-disconnected > button.close {
    color: white;
    font-size: x-large;
}

.panel-heading a{
    font-weight: bold;
}

//Publisher view icons

.panel-heading-error .fa-exclamation-circle  {
    display:block;
}

.panel-heading-warning .fa-exclamation-triangle
{
    display:block;
}
.panel-heading-success .fa-check {
    display:block;
}


.panel-heading button.close{
    margin-left: 10px;
}