.ml_panel{
  display: inline-block;
  min-width: fit-content;
  max-width: 250px;
  padding: 10px;
  margin: 20px;
}

.btn {
    border: 0 none;
    font-weight: 700;
    padding: 3px 6px;
}

.btn:focus, .btn:active:focus, .btn.active:focus {
    outline: 0 none;
}

.btn-primary {
    background: #0099cc;
    color: #ffffff;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open > .dropdown-toggle.btn-primary {
    background: #33a6cc;
}

.btn-primary:active, .btn-primary.active {
    background: #007299;
    box-shadow: none;
