<!DOCTYPE html>
<!--{% import 'admin/layout.html' as layout with context -%}-->
<!--{% import 'macros.html' as macros  with context -%}-->
<!--{% import 'admin/static.html' as admin_static with context %}-->

<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>{% block title %}{% if admin_view.category %}{{ admin_view.category
        }} - {% endif %}{{
        admin_view.name }} - {{ admin_view.admin.name }}{% endblock %}</title>
    {% block head_meta %}
    {% endblock %}
    {% block head_css %}

    <!-- Original core CSS-->

    <!--<link rel="stylesheet" type="text/css"-->
          <!--href="/dashboard/static/admin/css/bootstrap2/admin.css"/>-->

    <!--<link rel="stylesheet" type="text/css"-->
          <!--href="/dashboard/static/bootstrap/bootstrap2/swatch/default/bootstrap.min.css"/>-->

    <!--<link rel="stylesheet" type="text/css"-->
          <!--href="/dashboard/static/bootstrap/bootstrap2/swatch/default/bootstrap-responsive.css"/>-->
<link rel="stylesheet" type="text/css"
    href="{{ url_for('static',filename='vendor/css/bootstrap.min.css') }}">
    <link rel="stylesheet" type="text/css"
          href="/dashboard/static/vendor/select2/select2.css"/>

    <!--<link rel="stylesheet" type="text/css"-->
          <!--href="/dashboard/static/vendor/bootstrap-daterangepicker/daterangepicker-bs2.css"/>-->


    <!--<link rel="stylesheet" type="text/css"-->
    <!--href="{{ url_for('static',filename='mlab/css/base.css') }}">-->
    <!-- Custom fonts for this template-->
    <link rel="stylesheet" type="text/css"
          href="{{ url_for('static',filename='vendor/css/font-awesome.min.css') }}">
    <!-- Page level plugin CSS-->
    <!-- Custom styles for this template-->
    <link rel="stylesheet" type="text/css"
          href="{{ url_for('static',filename='vendor/css/sb-admin.min.css') }}">

    {% endblock %}

    {% block head %}

    {% endblock %}

    {% block head_tail %}

    {% endblock %}
</head>

<body class="fixed-nav sticky-footer bg-dark" id="page-top">
{% block page_body %}

<nav id="mainNav" class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top"
     role="navigation">
    {% block brand %}
    <a class="navbar-brand" href="{{ admin_view.admin.url }}">{{
        admin_view.admin.name
        }}</a>
    {% endblock %}

    <button class="navbar-toggler navbar-toggler-right" type="button"
            data-toggle="collapse"
            data-target="#navbarResponsive" aria-controls="navbarResponsive"
            aria-expanded="true"
            aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <!--<style>-->
        <!--.navbar-fix {-->
            <!--left: 0;-->
            <!--position: fixed !important;-->
            <!--margin-left: 0;-->
        <!--}-->
    <!--</style>-->
    <div class="collapse navbar-collapse" id="navbarResponsive">
        <!-- navbar content -->
        {% block main_menu %}
        <ul class="navbar-nav navbar-sidenav navbar-fix">
            {{ macros.menu() }}
        </ul>
        {% endblock %}

        {% block menu_links %}
        <ul class="nav navbar-nav navbar-sidenav navbar-fix">
            {{ layout.menu_links() }}
        </ul>
        {% endblock %}
        <ul class="navbar-nav ml-auto">
            {% block access_control %}

            <li class="nav-item">
                <a class="nav-link text-left" id="welcomeUser">
                    Hi {% if current_user.email-%}
                    {{ current_user.email }}
                    {%- endif %}
                </a>
            </li>
            {% endblock %}
        </ul>
        <ul class="navbar-nav ml-auto">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle mr-lg-2" id="alertsDropdown"
                   href="#"
                   data-toggle="dropdown" aria-haspopup="true"
                   aria-expanded="false">
                    <i class="fa fa-fw fa-bell"></i>
                    <span class="d-lg-none">Alerts
              <span class="badge badge-pill badge-warning">6 New</span>
            </span>
                    {% if pending_messages()|length > 0 %}
                    <span class="indicator text-warning d-none d-lg-block">
                        <i class="fa fa-fw fa-circle"></i>
                    </span>
                    {% endif %}
                </a>
                {{ macros.messages() }}
            </li>
            <li class="nav-item">
                <a href="{{url_for('dashboard.logout_view')}}" class="nav-link">
                    <i class="fa fa-fw fa-sign-out"></i>Logout</a>
            </li>
        </ul>
    </div>

</nav>


{# store the jinja2 context for form_rules rendering logic #}
{% set render_ctx = h.resolve_ctx() %}
<div class="content-wrapper">
    <div class="container-fluid">
        {% block messages %}
        {{ layout.messages() }}
        {% endblock %}
        {% block body %}{% endblock %}
    </div>
</div>
{% endblock %}
{% block tail_js %}
<!-- Bootstrap core JavaScript-->
<script type=text/javascript
        src="{{ url_for('static',filename='vendor/js/jquery.min.js') }}"></script>
<script type=text/javascript
        src="{{ url_for('static',filename='vendor/js/bootstrap.bundle.min.js') }}"></script>
<!-- Core plugin JavaScript-->
<script type=text/javascript
        src="{{ url_for('static',filename='vendor/js/jquery.easing.min.js') }}"></script>
<!-- Page level plugin JavaScript-->
<script src="{{ url_for('static',filename='vendor/js/moment.min.js') }}"
        type="text/javascript"></script>
<script src="{{ url_for('static',filename='vendor/js/select2.min.js') }}"
        type="text/javascript"></script>
<!--<script src="{{ url_for('static',filename='js/sb-admin.min.js') }}"-->
<!--type="text/javascript"></script>-->
<script src="{{ url_for('static',filename='vendor/js/sb-admin.min.js') }}"
        type="text/javascript"></script>
{% if admin_view.extra_js %}
{% for js_url in admin_view.extra_js %}
<script src="{{ js_url }}" type="text/javascript"></script>
{% endfor %}
{% endif %}
{% endblock %}

{% block tail %}
{% endblock %}
</body>
</html>
