{% macro draw_panel_info(cluster_name,num_workers, time, model_name,swagger_uri) -%}
<div class="ml_panel panel panel-primary">
    <div class="panel-heading">
        <a target="_blank" style="color:white;" href={{swagger_uri}}>{{cluster_name}}</a>
    </div>
    <div class=" panel-body">
        <p>Workers: {{num_workers}}</p>
        <p>Time: {{time}}</p>
        <div>
            <p>Model loaded: {{model_name}}</p>
            <button type="button" class="change btn btn-info " data-id={{cluster_name}} data-toggle="modal"
                    data-target="#myModal" style="margin:auto;display:block;">Change
            </button>
        </div>
    </div>
</div>
{%- endmacro %}
{% extends admin_base_template %}
{% block head %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/publisher.css') }}">
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="{{
  url_for('static', filename='jquery.js') }}">\x3C/script>')













</script>
{% endblock %}
{% block body %}
<h2>Clustering</h2>
<div id="panels" style="display:-webkit-box;">
    {% for cluster in clusters %}
    {{draw_panel_info(cluster.name,cluster.worker,cluster.ts,cluster.model_name,cluster.swagger_uri)}}
    {% endfor %}
</div>

<!-- Modal -->
<div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog modal-sm">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Choose the model to load</h4>
            </div>
            <div class="modal-body">
                <p type="text" name="clusterName" id="clusterName" value=""></p>

                <select id="selectpicker" class="selectpicker">
                </select>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                <button type="button" class="sendChangeButton btn btn-default">Load</button>
            </div>
        </div>

    </div>
</div>
<script type=text/javascript>
$(document).on("click", ".change", function () {
     var id = $(this).data('id');
      $.ajax({
          type: "GET",
          url: "/hbp_dashboard/mlmodelpublisherview/models",

          success: function(response) {
            list_of_models = JSON.parse(response);
            $(".modal-body #clusterName")[0].innerHTML= id ;
            $('#selectpicker').empty();
            $.each(list_of_models, function(i, p) {
                var pickerElement = $('<option></option>').val(p[1]).html(p[1])
                pickerElement[0].dataset.id=p[0]
                $('#selectpicker').append(pickerElement);
            });
          },

          error: function(err) {
            console.log(err);
          }
        });
});
$(document).on("click", ".sendChangeButton", function () {
    var selector = $('#selectpicker')[0];
    var model_id = selector.options[selector.selectedIndex].dataset["id"];
    var host_name= $(".modal-body #clusterName")[0].innerHTML
    $.ajax({
          type: "POST",
          url: "/hbp_dashboard/mlmodelpublisherview/change_model",
          dataType: "json",
          data:{
            "model_id":model_id,
            "host_name":host_name
          },
          success: function(data) {
            console.log("Model changed!")
            window.location.href = data["go"];
          },
          error: function(err) {
            console.log(err);
          }
        });
});













</script>
{% endblock %}