include src/dashboard/application/conf/logging.yaml
recursive-include src/dashboard/application/assets *
recursive-include src/dashboard/application/dashboard/static  *
recursive-include src/dashboard/application/dashboard/templates  *
prune src/tests