{% extends admin_base_template %}
<link rel="stylesheet" type="text/css"
      href="{{ url_for('static',filename='message_inbox.css') }}">
{% block body %}
<h2>Messages</h2>
<div id="messages" style="margin-left: 20px; margin-top: 30px;" class="list-group">
    {% for message in messages %}
    <a class="list-group-item"
       href="./{{message.pk}}">
        <strong style="margin-right:15px;">
            {% if message.is_read %}
            <i class="fa fa-envelope-open-o fa-lg"></i>
            {% else %}
            <i class="fa fa-envelope-o fa-lg" style="color:#ffc107"></i>
            {% endif %}
        </strong>{{message.subject}}</a>
    {% endfor %}
</div>
{% endblock %}