{% macro draw_panel_info(host_name,num_workers, time, model_name,swagger_uri,up, has_edit_permissions) -%}
<div class="ml_panel panel panel-primary">
    {% if up %}
    <div class="panel-heading">
        {% else %}
        <div class="down panel-heading" style="background-color: #ff3300">
            {% endif %}
            <a target="_blank" style="color:white;" href={{swagger_uri}}>{{host_name}}</a>
        </div>

        <div class=" panel-body" style="min-width: 200px">
            <p>Workers: {{num_workers}}</p>
            <p>Time: {{time}}</p>
            {% if has_edit_permissions %}
            <div>
                <p>Model loaded: {{model_name}}</p>
                <div style="display:flex;">
                    <button type="button" class="change btn btn-info " data-id={{host_name}}
                            data-toggle="modal"
                            data-target="#changeWorkerModelModal"
                            style="margin:auto;display:block;">
                        Model
                    </button>
                    <button type="button" class="group btn btn-info" data-id={{host_name}}
                            data-toggle="modal"
                            data-target="#groupModal" style="margin:auto;display:block;">Group
                    </button>
                </div>
            </div>
            {% endif %}
        </div>
    </div>
    {%- endmacro %}
    {% extends admin_base_template %}
    {% block head %}

    <link rel="stylesheet" type="text/css"
          href="{{ url_for('static',filename='css/publisher.css') }}">


    {% endblock %}

    {% block body %}
    <h2>Workers</h2>
    <div style="display:-webkit-box;">
        {% for worker in workers_without_group%}
        {{draw_panel_info(worker.name,worker.worker,worker.ts,worker.model_name,worker.swagger_uri,worker.running,has_active_model_permissions)}}
        {% endfor %}
    </div>

    {% for key,value in group_of_workers.items()%}
    <div id="{{key}}" class="groupContainer"
         style="margin-top: 15px; display: grid;">
        <div style="display: flex;">
            <h4 style="margin-left: 15px;">Group: {{key}}</h4>
            <button type="button" class="changeModelGroup btn btn-primary"
                    style="margin-left: 50px;"
                    data-toggle="modal" data-target="#changeModelGroupModal">
                Change model
            </button>
        </div>
        <div id="panels" style="display: inline-block; margin-left: 20px;">
            {% for worker in value%}
            {{draw_panel_info(worker.name,worker.worker,worker.ts,worker.model_name,worker.swagger_uri,worker.running,has_active_model_permissions)}}
            {% endfor %}
        </div>
    </div>
    {% endfor %}
    <!-- Groups -->
    <div class="modal fade" id="groupModal" role="dialog">
        <div class="modal-dialog modal-sm">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Groups</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">
                    <p type="text" id="workerId" value=""></p>

                    <select id="groupPicker" class="selectpicker" style="margin-bottom: 10px;">
                    </select>
                    <div>
                        <input type="text" id="groupNameInput" placeholder="Group Name">
                        <button type="button" class="createGroup btn btn-primary"
                                style="margin:10px;float: right;"
                                data-dismiss="modal">
                            Create
                        </button>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-info" data-dismiss="modal">Cancel</button>
                    <button type="button" class="sendChangeGroup btn btn-info">Load</button>
                </div>
            </div>

        </div>
    </div>

    <!-- Model Modal -->
    <div class="modal fade" id="changeWorkerModelModal" role="dialog">
        <div class="modal-dialog modal-sm">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Choose the model to load</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">
                    <p type="text" id="hostName" value=""></p>

                    <select id="selectpicker" class="selectpicker">
                    </select>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-info" data-dismiss="modal">Cancel</button>
                    <button type="button" class="sendChangeModelOnWorker btn btn-info">Load</button>
                </div>
            </div>

        </div>
    </div>

    <!-- Model Modal for groups-->
    <div class="modal fade" id="changeModelGroupModal" tabindex="-1" role="dialog"
         aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Choose the model to load in group</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">
                    <p type="text" data-info="group" id="groupName" value=""></p>
                    <select id="groupSelectPicker" class="selectpicker">
                    </select>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-info" data-dismiss="modal">Cancel</button>
                    <button type="button" class="sendChangeModelByGroup btn btn-info">Load</button>
                </div>
            </div>

        </div>
    </div>

    <script type=text/javascript
            src="{{ url_for('static',filename='js/publisherview.js') }}"></script>
    {% endblock %}