{% macro draw_panel_info(cluster_name,num_workers, time, model_name,swagger_uri) -%}
<div class="ml_panel panel panel-primary">
    <div class="panel-heading">
        <a target="_blank" style="color:white;" href={{swagger_uri}}>{{cluster_name}}</a>
    </div>

    <div class=" panel-body">
        <p>Workers: {{num_workers}}</p>
        <p>Time: {{time}}</p>
        <div>
            <p>Model loaded: {{model_name}}</p>
            <div style="display:flex;">
                <button type="button" class="change btn btn-info " data-id={{cluster_name}}
                        data-toggle="modal"
                        data-target="#changeModelModal" style="margin:auto;display:block;">Model
                </button>
                <button type="button" class="group btn btn-info" data-id={{cluster_name}}
                        data-toggle="modal"
                        data-target="#groupModal" style="margin:auto;display:block;">Group
                </button>
            </div>
        </div>
    </div>
</div>
{%- endmacro %}
{% extends admin_base_template %}
{% block head %}

<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/publisher.css') }}">
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="{{
  url_for('static', filename='jquery.js') }}">\x3C/script>')


</script>
<script type=text/javascript src="{{ url_for('static',filename='js/publisherview.js') }}"></script>
{% endblock %}

{% block body %}
<h2>Clustering</h2>
<div style="display:-webkit-box;">
    {% for cluster in clusters_without_group%}
    {{draw_panel_info(cluster.name,cluster.worker,cluster.ts,cluster.model_name,cluster.swagger_uri)}}
    {% endfor %}
</div>

{% for key,value in group_of_clusters.items()%}
<div id="{{key}}" class="groupContainer"
     style="border:1px;border-style:double; ">
    <div>
        <h4 style="margin-left: 15px;">Group: {{key}}</h4>
        <button type="button" class="changeModelGroup btn btn-primary"
                style="margin-left: 15px;"
                data-toggle="modal" data-target="#changeModelGroupModal">
            Change model
        </button>
    </div>
    <div id="panels">
        {% for cluster in value%}
        {{draw_panel_info(cluster.name,cluster.worker,cluster.ts,cluster.model_name,cluster.swagger_uri)}}
        {% endfor %}
    </div>
</div>
{% endfor %}

<!-- Groups -->
<div class="modal fade" id="groupModal" role="dialog">
    <div class="modal-dialog modal-sm">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Groups</h4>
            </div>
            <div class="modal-body">
                <p type="text" name="clusterName" id="clusterGroupName" value=""></p>

                <select id="groupPicker" class="selectpicker" style="margin-bottom: 10px;">
                </select>
                <div>
                    <input type="text" id="groupNameInput" placeholder="Group Name">
                    <button type="button" class="createGroup btn btn-default" data-dismiss="modal">
                        Create
                    </button>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                <button type="button" class="sendChangeGroup btn btn-default">Load</button>
            </div>
        </div>

    </div>
</div>

<!-- Model Modal -->
<div class="modal fade" id="changeModelModal" role="dialog">
    <div class="modal-dialog modal-sm">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Choose the model to load</h4>
            </div>
            <div class="modal-body">
                <p type="text" name="clusterName" id="clusterName" value=""></p>

                <select id="selectpicker" class="selectpicker">
                </select>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                <button type="button" class="sendChangeModelByGroup btn btn-default">Load</button>
            </div>
        </div>

    </div>
</div>

<!-- Model Modal for groups-->
<div class="modal fade" id="changeModelGroupModal" tabindex="-1" role="dialog"
     aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Choose the model to load in group</h4>
            </div>
            <div class="modal-body">
                <p type="text" name="groupName" id="groupName" value=""></p>
                <select id="groupSelectPicker" class="selectpicker">
                </select>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                <button type="button" class="sendChangeModelByGroup btn btn-primary">Load</button>
            </div>
        </div>

    </div>
</div>
{% endblock %}